.App {
  background-color: #ffffff;
  max-width: 640px;
  margin: 0 auto;
  padding: 24px;
  margin-top: 24px;
  border-radius: 16px;
}

.Form {
  display: flex;
  flex-direction: column;
}

.App h1 {
  margin-top: 0;
}

.Form label {
  color: black;
  font-size: 16px;
  margin-bottom: 8px;
}

.Form input {
  border: 1px #cccccc solid;
  font-size: 20px;
  padding: 8px;
  border-radius: 4px;
}

.Form button {
  padding: 8px;
  border: black 1px solid;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  cursor: pointer;
}

.Form button:hover {
  opacity: 0.75;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

li {
  background-color: white;
  font-size: 20px;
  padding: 12px 16px;
  border: 2px solid #cccccc;
  border-radius: 8px;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

li:hover {
  border: 2px solid #0083fb;
}

.loading {
  text-align: center;
  padding: 48px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
